body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background: #D8DFE8;
}

.container {
    display: flex;
    height: 95vh;
}

.area-texto {
    padding: 25px;
    margin: 15px;
    border: none;    
    flex: 2;
}

.area-lectura {
    padding: 25px;
    margin: 15px;
    background: #FFFFFF;
    border: none;
    border-radius: 1.2em;
    flex: 1;
    box-shadow: 1px 1px 10px 1px #999999;
}

.area-lectura textarea, .area-texto textarea {
    box-sizing: border-box;    
    width: 100%;
    height: 90%;
    padding: 25px;
    font-size: 20px;
    border: none;       
    resize: none;
    background: none;
}

.area-lectura textarea {
    cursor: default;
}

.area-lectura textarea:focus, .area-texto textarea:focus {
    outline: none;
}

.desaparecer-munheco {
    display: none;    
}

.munheco{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.munheco p, .munheco h2 {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.no-info {
    display: none;
}

.si-info {
    box-sizing: border-box;
    height: 100%;
}

.botones {
    display: flex;
}

.btn {
    flex: auto;
    height: 50px;
    cursor: pointer;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 1.2rem;
    transition: 1s all;    
}

.btn-oscuro {
    background: #0A3871;
    color: white;
}

.btn-oscuro:hover {
    background: #0050b3;
    transform: scale(1.07);
}

.btn-claro {
    border: 1px solid #0A3871;
    background: none;
}

.btn-claro:hover {
    background-color: #c9cacc;
    transform: scale(1.07);
}

.btn-desaparecido {
    display: none;
}

footer {
    text-align: center;    
    font-size: 12px;
}

@media screen and (max-width:850px) {

    .munheco img{
        display: none;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        height: 95vh;
    }

    .area-texto {
        flex: 2;
    }
    
    .area-lectura {
        flex: 1;
    }

    .area-lectura textarea{
        height: 75%;
        margin-bottom: 15px;
    }

    footer{
        display: none;
    }
}

@media screen and (max-width:390px) {

    .munheco img{
        display: none;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;        
    }

    .area-texto {        
        flex: auto;
    }

    .area-texto textarea {
        height: 70%;
    }
    
    .botones {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: 5px;
    }

    .area-lectura {

        flex: auto;        
    }

    .area-lectura textarea{
        height: 70%;
    }

    footer{
        display: none;
    }
}